@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


body {
    margin: 40px;
    background-image: linear-gradient(rgb(246, 246, 246), rgb(226, 226, 226));
    background-size: cover;
    overflow-y: hidden;
    /* font-family: 'Poppins', sans-serif; */
}

.heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.title{
    font-size: 45px;
    font-weight: 200;
    margin: 50px 0 0 0 ;
}

.categories {
    font-size: 23px;
    font-weight: 600;
    color: grey;
}

.categories ul {
    display: flex;
    list-style-type: none;

}

.categories ul li {
    padding: 0px 30px;
}

.categories ul li:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid #0F996D;
    cursor: pointer;
}



.carousel {
    /* display: flex; */
    /* flex-wrap: wrap; */
    width: 90%;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 85px;
}

.item-card {
    height: 526px;
    width: 226px;
    margin: 12px 0px 0;
    padding: 40px 15px;
    box-sizing: border-box;
    font-size: 11px;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgb(255, 255, 255), 0 10px 10px rgb(0, 0, 0,0.22);
    background-color: #fff;
}

.item-card:hover {
    cursor: pointer;
}

img {
    height: 190px;
    width: 170px;
    position: relative;
    left: 27%;
}

.product-view {
    height: 50%;
    padding: 10px 0;
    position: relative;
}

.sale-badges {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 5px;
    font-size: 15px;
}


.sale25 {
    background-color: rgba(255, 99, 71, 0.705);
    color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 0;
    padding: 1px 4px;
}

.gift {
    color: rgba(255, 99, 71, 0.705);
    font-weight: 600;
    position: absolute;
    top: 28px;
}

.new {
    color: #0F996D;
    position: absolute;
    margin: 50px 5px;
}



.product-info{
    margin: 0px;
    height: 150px;
    position: relative;
}

.product-info h1, p {
    font-size: 12px;
    text-align: left;
}


.prices-container {
    text-align: left;
    font-size: 15px;
    height: 30px;
    position: absolute;
    bottom: 0;
}

.prices-container h2 span {
    vertical-align: top;
    font-size: 10px;
    font-weight: 100;
}


.prices-container small {
    vertical-align: top;
    font-size: 14px;
    color: rgba(128, 128, 128, 0.342);
}



.buttons-container {
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: -60px;
}

.buy-btn {
    width: 285px;
    height: 42px;
    margin-right: 10px;
    background-color: #0F996D;
    color: #fff;
    border-radius: 20px 20px 0px 20px;
    border: transparent;
}

.buy-btn:hover {
    transform: scale(1.01);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.fav-btn:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background-color: rgba(255, 99, 71, 0.705);
    color: whitesmoke;
    border-color: whitesmoke;
}

.fav-btn {
    width: 75px;
    height: 42px;
    background-color: transparent;
    color: #0F996D;
    border: #0F996D 2px solid;
    border-radius: 20px 20px 20px 0px;
}

.fa-solid {
    font-size: 20px;
    margin-top: 4px;
}

.fa-bag-shopping {
    margin-left: 8px;
    margin-top: -2px;
}

.progress-bar {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.offer4u {
    background-color: gold;
    padding: 8px;
    border-radius: 20px 20px 0 20px;
    position: absolute;
    bottom: 5px;
}

.rating {
    position: absolute;
    left: 41%;
    float: left;
}

.availability {
    color: #0F996D;
    position: absolute;
    right: 0;
}

.fa-star {
    color: rgba(128, 128, 128, 0.342);
    font-size: 11px;
    float: right;
}

.fa-star:hover, .fa-star:hover ~ .fa-star {
    color: goldenrod;
}

.slick-slide {
    margin-left: 10px;
    margin-bottom: 42px;
}

.prev-arrow {
    position: absolute;
    left: 5%;
    top: 66%;
}

.next-arrow {
    position: absolute;
    right: 5%;
    top: 66%;
}

